<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Monsters University</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button [routerLink]="['/editUser', user.id]" routerLinkActive="mat-accent">My Profile</a>
    </li>
    <li *ngIf="userIsAuthenticated && isAdmin">
      <a mat-button routerLink="/users" routerLinkActive="mat-accent">Users</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/courses" routerLinkActive="mat-accent">Course List</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/courseTrackings" routerLinkActive="mat-accent">My Progress</a>
    </li>
    <li *ngIf="userIsAuthenticated && isAdmin">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Course</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log in</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()" ><span id="logout">Log out</span></button>
    </li>
  </ul>
</mat-toolbar>
