<mat-spinner *ngIf="isLoading"></mat-spinner>
<p>Completed: Courses</p>
<table mat-table [dataSource]="completedCourses" *ngIf="completedCourses.length > 0">
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.status}} </td>
  </ng-container>

  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef> Course </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.courseName}} </td>
  </ng-container>

  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef> Grade </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.grade}} </td>
  </ng-container>

  <ng-container matColumnDef="term">
    <th mat-header-cell *matHeaderCellDef> Term </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.term}} </td>
  </ng-container>

  <ng-container matColumnDef="credits">
    <th mat-header-cell *matHeaderCellDef> Credits </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.credits}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>

<p *ngIf="completedCourses.length <= 0 && !isLoading" class="mat-body-1 info-text">No courses</p>

<p>Current Courses: </p>
<table mat-table [dataSource]="currentCourses"  *ngIf="currentCourses.length > 0">
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.status}} </td>
  </ng-container>

  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef> Course </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.courseName}} </td>
  </ng-container>

  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef> Grade </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.grade}} </td>
  </ng-container>

  <ng-container matColumnDef="term">
    <th mat-header-cell *matHeaderCellDef> Term </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.term}} </td>
  </ng-container>

  <ng-container matColumnDef="credits">
    <th mat-header-cell *matHeaderCellDef> Credits </th>
    <td mat-cell *matCellDef="let courseTracking"> {{courseTracking.credits}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p *ngIf="currentCourses.length <= 0 && !isLoading" class="mat-body-1 info-text">No courses</p>

