.welcome{
  margin: 30px 0;
  font-size: 25px;
  font-weight: 400;

}



.overview-container{
  margin: 30px 0;
  .overview-container-title{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
    margin: 10px 0;
  }

    //width: 400px;
    //padding: 10px;
    table{
      width: 100%;
      table-layout: fixed;
      text-align: left;
    }

  .progress-container{
    width: 60%;

    h3{
      margin: 15px 0;
    }

    mat-progress-bar{
      height: 20px;
    }
  }

}

.semester-container{

  margin: 30px 0 100px;
  .semester-schedule-title{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
    margin: 10px 0;
  }

  table{
    width: 100%;
    table-layout: fixed;
    text-align: left;
  }

}
