@import '../node_modules/@angular/material/theming';

$md-mcgpalette0: (
  50 : #eaf8fe,
  100 : #caedfd,
  200 : #a7e1fb,
  300 : #84d5f9,
  400 : #69ccf8,
  500 : #4fc3f7,
  600 : #48bdf6,
  700 : #3fb5f5,
  800 : #36aef3,
  900 : #26a1f1,
  A100 : #ffffff,
  A200 : #f9fdff,
  A400 : #c6e7ff,
  A700 : #addcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);






$md-mcgpalette1: (
  50 : #e3eaed,
  100 : #baccd2,
  200 : #8caab4,
  300 : #5d8795,
  400 : #3b6e7f,
  500 : #185468,
  600 : #154d60,
  700 : #114355,
  800 : #0e3a4b,
  900 : #08293a,
  A100 : #72caff,
  A200 : #3fb7ff,
  A400 : #0ca4ff,
  A700 : #0097f1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-mcgpalette2: (
  50 : #ffebeb,
  100 : #ffcdce,
  200 : #ffabae,
  300 : #ff898d,
  400 : #ff7074,
  500 : #ff575c,
  600 : #ff4f54,
  700 : #ff464a,
  800 : #ff3c41,
  900 : #ff2c30,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd8d9,
  A700 : #ffbec0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent:  mat-palette($md-mcgpalette1);
$my-app-warn:    mat-palette($md-mcgpalette2);
$my-theme: mat-light-theme(
    $my-app-primary,
    $my-app-accent,
    $my-app-warn
);
